div#addRecContainer {
    width: 25%;
    float: left;
}
div#displayRec {
    border-style: solid;
    margin-bottom: 0%;
    margin-top: 0%;
    width: 40%;
    height: 100%;
    float: left;
}
div#recFull {
    width:35%;
    float: left;
}

/* 
Float 3 Divs side by side using float: left -
http://stackoverflow.com/questions/2156712/how-to-float-3-divs-side-by-side-using-css
*/